@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$kor-font: 'Nanum Gothic', sans-serif;
$eng-font: 'Oswald', sans-serif;
$eng-font2: 'Montserrat', sans-serif;
$kor-font2: 'Jua', sans-serif;
$gray: '#dfe0e1';
$blue: '#4386f1';

@mixin content {
  margin-left: 260px;
  margin-top: 20px;
}
.ant-layout {
  background: #ffffff !important;
}

input {
  width: 350px;
  height: 45px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
}
button {
  height: 45px;
  width: 350px;
  border: none;
  border-radius: 4px;
  background: #4386f1;
  font-family: $kor-font;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
hr {
  width: 350px;
  color: $gray;
  margin: 20px auto 20px auto;
}
.googleLogin {
  cursor: pointer;
  border-radius: 4px;
  padding-top: 10px;
  position: relative;
  width: 350px;
  height: 45px;
  text-align: center;
  margin: 0 auto 0 auto;
  background: #ffffff;
  color: gray;
  border: 1px solid lightgrey;
}
#HeaderComponent {
  border: 2px solid #dfe0e1;
  background: #ffffff;
  height: 68px;
  .HeaderComponent {
    padding-left: 2%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 2000px;
    min-width: 1200px;
    font-size: 16px;
    font-family: $eng-font;
    font-weight: 200;
    background-color: #ffffff;
    span {
      padding: 20px;
      color: black;
    }
    .logo {
      display: inline;
    }
    .menuDiv {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: inline;
      .menu {
        cursor: pointer;
        display: inline-block;
        width: 100px;
        height: 64px;
        text-align: center;
      }
      .current {
        border-bottom: 4px solid #4386f1;
        font-weight: 500;
      }
    }
    .user-state {
      position: absolute;
      display: inline-block;
      right: 0;
      padding-right: 2%;
      cursor: pointer;
      .loginBtn:hover {
        font-weight: 500;
        color: #4386f1;
        transition: 0.3s ease;
      }
    }
  }
}

#HomeContent {
  margin-top: 100px;
  div {
    background-color: #ffffff;
  }
  font-family: $kor-font2;
  padding: 80px;
  .copyright {
    font-size: 3em;
    text-align: center;
  }
}

#IssueSider {
  margin-top: 20px;
  position: fixed;
  background-color: #ffffff;
  padding: 25px 15px 0 0;
  .menuItem {
    padding: 10px 10px 10px 15px;
    font-size: 17px;
    color: black;
    font-family: $kor-font2;
  }
  .menuItem:hover {
    background-color: #efefef;
    border-radius: 0 30px 30px 0;
  }
  .selected {
    border-left: 6px solid #4386f1;
    background-color: #efefef;
    border-radius: 0 30px 30px 0;
    color: #4386f1;
    transition: 0.3s ease;
  }
}
#Issue {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto 0 auto;
}
#UserJoinComponent {
  width: 600px;
  margin: 85px auto 0 auto;
  text-align: center;
  .title {
    font-family: $kor-font;

    font-size: 17px;

    line-height: 28px;
    .strong {
      font-weight: bold;
      color: #4386f1;
    }
  }
  .form {
    padding-top: 20px;
    .mssg {
      color: red;
      height: 16px;
      width: 350px;
      margin: 0 auto 0 auto;
      text-align: left;
      padding-left: 5px;
      font-size: 11px;
    }
    .label {
      width: 350px;
      text-align: left;
      margin: 0 auto 0 auto;
      color: gray;
      font-size: 12px;
      margin-top: 7px;
      padding-left: 2px;
    }
    .first {
      padding-top: 12px;
      //border: 1px solid red;
    }
    .term-div {
      width: 350px;
      text-align: left;
      margin: 0 auto 10px auto;
      color: gray;
      .term {
        color: #3e3f40;
      }
    }

    .join-btn {
      margin-top: 25px;
    }
  }
}
#UserLoginComponent {
  padding-top: 10px;
  text-align: center;
  .title {
    width: 300px;
    margin: 100px auto 5px auto;
    text-align: center;
    font-family: $eng-font2;
    font-size: 3.5em;
  }
  .subtitle {
    font-size: 16px;
    font-family: $kor-font;
    display: block;
  }
  .alert {
    display: block;
    height: 20px;
    margin-bottom: 4px;
    font-size: 12px;
    color: red;
  }
  .form {
    width: 400px;
    height: 400px;
    margin: 0 auto 0 auto;
    padding-top: 30px;
    .forgot {
      width: 350px;
      margin: 0 auto 0 auto;
      text-align: right;
      font-size: 12px;
      color: #4386f1;
      font-weight: 700;
      cursor: pointer;
    }
    .email,
    .password {
      margin-bottom: 10px;
      text-align: center;

      input:focus {
        border: 1px solid #4386f1;
      }
    }
    .btn-div {
      margin-top: 25px;
    }
  }
  .messege {
    margin-top: 10px;
    //border: 1px solid red;
    color: gray;
    .link-to-join {
      cursor: pointer;
      color: #4386f1;
      font-weight: 500;
    }
  }
}

#Successed {
  position: absolute;
  //border: 1px solid red;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .imgDiv {
  }
  .title {
    margin-top: 30px;
    font-family: $kor-font;
    font-weight: bold;
    font-size: 32px;
  }
  .subtitle {
    margin-top: 7px;
    font-size: 20px;
  }
  .moveBtn {
    margin-top: 50px;
    width: 120px;
  }
}

#Hi {
  font-size: 100px;
  @include content;
}

#Hello {
  font-size: 100px;
  @include content;
}
